<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Vue Js - Boilerplate</title>

    <meta charset="utf-8">

   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="Patrick Heng">
   <meta name="copyright" content="© Copyright 2016 - Patrick Heng" />
   <meta name="location" content="Paris, FRANCE">

   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="robots" content="noindex, nofollow">

   <!-- Favicon -->

   <!-- Facebook meta -->
   <meta property="og:title" content=""/>
   <meta property="og:image" content=""/>
   <meta property="og:url" content=""/>
   <meta property="og:site_name" content=""/>
   <meta name="description" content=""/>

   <!-- Twitter meta -->
   <meta name="twitter:card" content="">
   <meta name="twitter:site" content="@">
   <meta name="twitter:creator" content="@">
   <meta name="twitter:title" content="">
   <meta name="twitter:description" content="">
   <meta name="twitter:image:src" content="">

   <!-- GOOGLE + Share -->
   <meta itemprop="name" content="">
   <meta itemprop="description" content="">
   <meta itemprop="image" content="">

  </head>

  <body>

    <div id="application">

    </div>

  </body>

</html>
